.buffer-box{
    text-align: justify;
    border-top: 20px solid transparent;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 40px solid transparent;
    width:45%
}

hr.hr1{
    border-top: 4px solid #454851;
    width: 60%
}