<p class="spacer"></p>
<h2 style="text-align: center;">Legal Services</h2>
<p style="text-align: center;">Please note, these are not the only legal services offered by Deane and Hinton, P.A. If you have any questions, please contact us directly.</p>

<div *ngFor="let post of posts$ | async">
    <div style="text-align: center;" *ngIf="post.tags == 2">
        <a [routerLink]="['/practiceareas']" fragment="{{post.slug}}">{{ cleanup(post.title.rendered) }}</a>
    </div>
</div>

<div class="grid-container">

    <div class="column">
        <div *ngFor="let post of posts$ | async">
            <div *ngIf="post.tags == 2">
                <hr class="hr1">
                <div class="row" style="margin-left: 10%; margin-right: 10%;">
                    <div class="grid-item">
                        <h3 style="text-align: center;" id="{{post.slug}}">{{ cleanup(post.title.rendered) }}</h3>
                        <p>{{ cleanup(post.content.rendered) }}</p>
                    </div>
                </div>
            </div>
        </div>
        

        <div>
            <hr class="hr1">
            <p style="text-align: justify; border-left: 40px solid transparent; border-right: 40px solid transparent; border-top: 40px solid transparent;">Couldn't find the type of case that fits you best? Don't worry! We handle many other kind of legal issues. Why don't you contact us directly?</p>
            <div style="text-align: justify; border-left: 40px solid transparent; border-bottom: 40px solid transparent;"><app-contactform></app-contactform></div>
        </div>
    </div>

</div>
