hr.hr1{
    border-top: 4px solid #454851;
    width: 60%
}

.grid-item-image{
    border: 20px solid lightgrey;
    border-radius: 5px;
    width: 240px;
    height: 240px;
    background: lightgrey;
    text-align: center;
    box-shadow: 10px 10px 5px grey;
    margin-right: 15px
}

.grid-item{
    width: 60%;
}
