<h1 style="text-align: center; margin-top: 15px;">Meet Our Team</h1>
<div *ngFor="let post of posts$ | async">
    <div *ngIf="post.tags == 3">
        <hr class="hr1" style="margin-top:50px; margin-bottom:50px">
        <div class="grid-container">
            <div class="row">
                <div class="grid-item-image">
                    <img src="{{post.fimg_url}}" height="200" width="200">
                </div>
                <div class="grid-item">
                    <h3><b [innerHTML]="post.title.rendered"></b></h3>
                    <p [innerHTML]="post.content.rendered"></p>
                </div>
            </div>
        </div>
        <p style="margin: 20px"></p>
    </div>
</div>