<!-- TODO: the toggleable notification bar-->
<div *ngFor="let post of posts$ | async">
  <div *ngIf="post.tags == 4">
    <div class="notif-bar">
      <button mat-button (click)="notif.toggle()" (click)="toggleClosed()" style="width:100%">
        {{ post.title.rendered }} 
        <span *ngIf="expanded; else closed"><mdb-icon fas icon="chevron-up"></mdb-icon></span>
        <ng-template #closed><mdb-icon fas icon="chevron-down"></mdb-icon></ng-template>
      </button>
      <div class="" mdbCollapse #notif="bs-collapse">
        <p style="padding:15px;">{{ cleanup(post.content.rendered) }}</p>
      </div>
    </div>
  </div>
</div>
<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark green darken-4 sticky-top">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="/"><h3><b>Deane & Hinton, P.A.</b></h3></a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect href="/">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect href="/practiceareas">Practice Areas</a>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect href="/about">Meet Our Team</a>
          </li>
      </ul>
      <!-- Links -->
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->

<router-outlet></router-outlet>

<!--TODO: the modal contact form-->

<!-- Footer -->
<footer class="page-footer font-small green darken-4 pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md">

        <!-- Content -->
        <h5 class="text-uppercase">Deane & Hinton, P.A.</h5>
        

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <h5 class="text-uppercase">Address</h5>

          <ul class="list-unstyled">
            <li>
              <a href="https://www.google.com/maps/dir//Deane+%26+Hinton,+P.A.,+1597+62nd+Ave+N,+St.+Petersburg,+FL+33702/@27.828814,-82.6569087,17z/data=!4m16!1m6!3m5!1s0x88c2e406a6b79c2b:0xc6849957b9e6028f!2sDeane+%26+Hinton,+P.A.!8m2!3d27.8287693!4d-82.65472!4m8!1m0!1m5!1m1!1s0x88c2e406a6b79c2b:0xc6849957b9e6028f!2m2!1d-82.65472!2d27.8287693!3e2">
                  <u>1597 62nd Ave N</u>
              </a>
            </li>
            <li>
              <a href="https://www.google.com/maps/dir//Deane+%26+Hinton,+P.A.,+1597+62nd+Ave+N,+St.+Petersburg,+FL+33702/@27.828814,-82.6569087,17z/data=!4m16!1m6!3m5!1s0x88c2e406a6b79c2b:0xc6849957b9e6028f!2sDeane+%26+Hinton,+P.A.!8m2!3d27.8287693!4d-82.65472!4m8!1m0!1m5!1m1!1s0x88c2e406a6b79c2b:0xc6849957b9e6028f!2m2!1d-82.65472!2d27.8287693!3e2">
                  <u>Saint Petersburg</u>
              </a>
            </li>
            <li>
              <a href="https://www.google.com/maps/dir//Deane+%26+Hinton,+P.A.,+1597+62nd+Ave+N,+St.+Petersburg,+FL+33702/@27.828814,-82.6569087,17z/data=!4m16!1m6!3m5!1s0x88c2e406a6b79c2b:0xc6849957b9e6028f!2sDeane+%26+Hinton,+P.A.!8m2!3d27.8287693!4d-82.65472!4m8!1m0!1m5!1m1!1s0x88c2e406a6b79c2b:0xc6849957b9e6028f!2m2!1d-82.65472!2d27.8287693!3e2">
                  <u>FL 33702</u>
              </a>
            </li>
            <li>
              <a href="https://www.google.com/maps/dir//Deane+%26+Hinton,+P.A.,+1597+62nd+Ave+N,+St.+Petersburg,+FL+33702/@27.828814,-82.6569087,17z/data=!4m16!1m6!3m5!1s0x88c2e406a6b79c2b:0xc6849957b9e6028f!2sDeane+%26+Hinton,+P.A.!8m2!3d27.8287693!4d-82.65472!4m8!1m0!1m5!1m1!1s0x88c2e406a6b79c2b:0xc6849957b9e6028f!2m2!1d-82.65472!2d27.8287693!3e2">
                  <u>United States</u></a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <h5 class="text-uppercase">Contact Us</h5>

          <ul class="list-unstyled">
            <li>
              <a href="mailto:charlesdhinton@yahoo.com">
                  <u>charlesdhinton@yahoo.com</u></a>
            </li>
            <li>
              <a href="tel:+17275768811">
                  <u>727-576-8811</u></a>
            </li>
            <li>
              <a>
                  9am-5pm Monday-Friday</a>
            </li>
            <li>
              <a>
                  Closed on Weekends</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
      © {{year}} Copyright
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->