<!-- Put the header here, and the toggleable notification bar-->
<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark green darken-4">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="/">DHPA Logo</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect href="/">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect href="/practiceareas">Practice Areas</a>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect href="/about">About Us</a>
          </li>
      </ul>
      <!-- Links -->

<!-- Search form -->
      <form class="form-inline waves-light" mdbWavesEffect>
          <div class="md-form my-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search">
          </div>
      </form>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->

<router-outlet></router-outlet>

<!-- Footer -->
<footer class="page-footer font-small green darken-4 pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">DHPA Logo</h5>
        

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <h5 class="text-uppercase">Address</h5>

          <ul class="list-unstyled">
            <li>
              <a href="https://www.google.com/maps/dir//Deane+%26+Hinton,+P.A.,+1597+62nd+Ave+N,+St.+Petersburg,+FL+33702/@27.828814,-82.6569087,17z/data=!4m16!1m6!3m5!1s0x88c2e406a6b79c2b:0xc6849957b9e6028f!2sDeane+%26+Hinton,+P.A.!8m2!3d27.8287693!4d-82.65472!4m8!1m0!1m5!1m1!1s0x88c2e406a6b79c2b:0xc6849957b9e6028f!2m2!1d-82.65472!2d27.8287693!3e2">
                  <u>1597 62nd Ave N</u>
              </a>
            </li>
            <li>
              <a href="https://www.google.com/maps/dir//Deane+%26+Hinton,+P.A.,+1597+62nd+Ave+N,+St.+Petersburg,+FL+33702/@27.828814,-82.6569087,17z/data=!4m16!1m6!3m5!1s0x88c2e406a6b79c2b:0xc6849957b9e6028f!2sDeane+%26+Hinton,+P.A.!8m2!3d27.8287693!4d-82.65472!4m8!1m0!1m5!1m1!1s0x88c2e406a6b79c2b:0xc6849957b9e6028f!2m2!1d-82.65472!2d27.8287693!3e2">
                  <u>Saint Petersburg</u>
              </a>
            </li>
            <li>
              <a href="https://www.google.com/maps/dir//Deane+%26+Hinton,+P.A.,+1597+62nd+Ave+N,+St.+Petersburg,+FL+33702/@27.828814,-82.6569087,17z/data=!4m16!1m6!3m5!1s0x88c2e406a6b79c2b:0xc6849957b9e6028f!2sDeane+%26+Hinton,+P.A.!8m2!3d27.8287693!4d-82.65472!4m8!1m0!1m5!1m1!1s0x88c2e406a6b79c2b:0xc6849957b9e6028f!2m2!1d-82.65472!2d27.8287693!3e2">
                  <u>FL 33702</u>
              </a>
            </li>
            <li>
              <a href="https://www.google.com/maps/dir//Deane+%26+Hinton,+P.A.,+1597+62nd+Ave+N,+St.+Petersburg,+FL+33702/@27.828814,-82.6569087,17z/data=!4m16!1m6!3m5!1s0x88c2e406a6b79c2b:0xc6849957b9e6028f!2sDeane+%26+Hinton,+P.A.!8m2!3d27.8287693!4d-82.65472!4m8!1m0!1m5!1m1!1s0x88c2e406a6b79c2b:0xc6849957b9e6028f!2m2!1d-82.65472!2d27.8287693!3e2">
                  <u>United States</u></a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <h5 class="text-uppercase">Contact Us</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">
                  charlesdhinton@yahoo.com</a>
            </li>
            <li>
              <a href="#!">
                  727-576-8811</a>
            </li>
            <li>
              <a href="#!">
                  9am-5pm Monday-Friday</a>
            </li>
            <li>
              <a href="#!">
                  Closed on Weekends</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
      © 2021 Copyright
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->