@use '~@angular/material' as mat;
@import '~@angular/material/theming';

@include mat-core();


$my-primary: mat.define-palette(mat.$deep-purple-palette, 300);
$my-accent: mat.define-palette(mat.$amber-palette, 700);
$my-warn: mat.define-palette(mat.$red-palette);
$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   warn: $my-warn,
 )
));

@include mat.all-component-themes($my-theme);
@include mat.input-theme($my-theme);
@include mat.select-theme($my-theme);
@include mat.core-theme($my-theme);
