.grid-item{
    width: 230px;
    height: 230px;
}

.grid-container{
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
}

button{
    width:fit-content;
}

hr.hr1{
    border-top: 4px solid #454851;
    width: 60%
}