<!-- This will have the carousel at the top of the page -->
<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item>

      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg" alt="Second slide">

    </mdb-carousel-item>
    <mdb-carousel-item>

    </mdb-carousel-item>
  </mdb-carousel>
  <div class="spacer"></div>

  <!-- This will have the area advertising practice areas -->
  <h2 style="text-align: center;">Practice Areas</h2>

  <div class="spacer"></div>
  <div class="grid-container">
    <div class="row">

      <div class="grid-buffer"></div>
      <div class="grid-buffer"></div>
      <div class="grid-item">
        <mdb-card>
          <mdb-card-body>
            <mdb-card-title>
              <h4>Legal Service 1</h4>
            </mdb-card-title>
            <mdb-card-text>Brief decription of that service.</mdb-card-text>
              <a href="/practiceareas" class="card-link">Read More...</a>
          </mdb-card-body>
        </mdb-card>
      </div>

      <div class="grid-buffer"></div>
      <div class="grid-item">
        <mdb-card>
          <mdb-card-body>
            <mdb-card-title>
              <h4>Legal Service 2</h4>
            </mdb-card-title>
            <mdb-card-text>Brief decription of that service.</mdb-card-text>
              <a href="/practiceareas" class="card-link">Read More...</a>
          </mdb-card-body>
        </mdb-card>
      </div>

      <div class="grid-buffer"></div>
      <div class="grid-item">
        <mdb-card>
          <mdb-card-body>
            <mdb-card-title>
              <h4>Legal Service 3</h4>
            </mdb-card-title>
            <mdb-card-text>Brief decription of that service.</mdb-card-text>
              <a href="/practiceareas" class="card-link">Read More...</a>
          </mdb-card-body>
        </mdb-card>
      </div>

      <div class="grid-buffer"></div>
      <div class="grid-item">
        <mdb-card>
          <mdb-card-body>
            <mdb-card-title>
              <h4>Legal Service 4</h4>
            </mdb-card-title>
            <mdb-card-text>Brief decription of that service.</mdb-card-text>
              <a href="/practiceareas" class="card-link">Read More...</a>
          </mdb-card-body>
        </mdb-card>
      </div>

      <div class="grid-buffer"></div>
      <div class="grid-item">
        <mdb-card>
          <mdb-card-body>
            <mdb-card-title>
              <h4>Legal Service 5</h4>
            </mdb-card-title>
            <mdb-card-text>Brief decription of that service.</mdb-card-text>
              <a href="/practiceareas" class="card-link">Read More...</a>
          </mdb-card-body>
        </mdb-card>
      </div>

    </div>

    <div class="spacer"></div>

    <div class="row">

      <div class="grid-buffer"></div>
      <div class="grid-buffer"></div>
      <div class="grid-item">
        <mdb-card>
          <mdb-card-body>
            <mdb-card-title>
              <h4>Legal Service 6</h4>
            </mdb-card-title>
            <mdb-card-text>Brief decription of that service.</mdb-card-text>
              <a href="/practiceareas" class="card-link">Read More...</a>
          </mdb-card-body>
        </mdb-card>
      </div>

      <div class="grid-buffer"></div>
      <div class="grid-item">
        <mdb-card>
          <mdb-card-body>
            <mdb-card-title>
              <h4>Legal Service 7</h4>
            </mdb-card-title>
            <mdb-card-text>Brief decription of that service.</mdb-card-text>
              <a href="/practiceareas" class="card-link">Read More...</a>
          </mdb-card-body>
        </mdb-card>
      </div>

      <div class="grid-buffer"></div>
      <div class="grid-item">
        <mdb-card>
          <mdb-card-body>
            <mdb-card-title>
              <h4>Legal Service 8</h4>
            </mdb-card-title>
            <mdb-card-text>Brief decription of that service.</mdb-card-text>
              <a href="/practiceareas" class="card-link">Read More...</a>
          </mdb-card-body>
        </mdb-card>
      </div>

      <div class="grid-buffer"></div>
      <div class="grid-item">
        <mdb-card>
          <mdb-card-body>
            <mdb-card-title>
              <h4>Legal Service 9</h4>
            </mdb-card-title>
            <mdb-card-text>Brief decription of that service.</mdb-card-text>
              <a href="/practiceareas" class="card-link">Read More...</a>
          </mdb-card-body>
        </mdb-card>
      </div>

      <div class="grid-buffer"></div>
      <div class="grid-item">
        <mdb-card>
          <mdb-card-body>
            <mdb-card-title>
              <h4>Legal Service 10</h4>
            </mdb-card-title>
            <mdb-card-text>Brief decription of that service.</mdb-card-text>
              <a href="/practiceareas" class="card-link">Read More...</a>
          </mdb-card-body>
        </mdb-card>
      </div>

    </div>
    <div class="spacer"></div>
    <button mdbBtn type="button" color="secondary" mdbWavesEffect>Not sure? Contact Us</button>
  </div>
  <div class="spacer"></div>

 <hr class="hr1">

 <div class="spacer"></div>

  <!-- This will have the map that will show the location of the office -->

  <app-map></app-map>