<mdb-card style="background-image: url(../../../assets/Pictureofofc.jpg); background-repeat: no-repeat; background-size: 100%;">
  <div class="text-white text-center rgba-stylish-strong py-5 px-4">
    <div class="py-5">

      <!-- Content -->
      <h2 class="card-title h2 my-4 py-2">Serving the St. Petersburg Community since 1984</h2>
      <p class="mb-4 pb-2 px-md-5 mx-md-5">Deane & Hinton, P.A. is a full service law firm comitted to providing high quality legal service.

        We offer a wide range of services across many practice areas, outlined below.
        
        We understand that our clients have diverse needs. If we cannot provide the service ourselves, we will assist our clients in finding experts in that field within the large network of attorneys that we know.
        
        Deane & Hinton, P.A. is committed to achieving the best possible results for our clients, providing excellent legal services at a reasonable price.</p>
      <app-contactform style="color:#3b3b3b; text-align:left"></app-contactform>

    </div>
  </div>
</mdb-card>

  <!-- This will have the area advertising practice areas -->
  <h2 style="text-align: center; margin-top:40px"><b>Practice Areas</b> </h2>

  <div class="spacer"></div>
  <div class="border-box">
    <div class="grid-container">
      <div class="row">
        
        <div class="column" *ngFor="let post of posts$ | async">
          <div class="grid-item" *ngIf="post.tags[1] == 2 || post.tags[0] == 2">
            <mdb-card>
              <mdb-card-body style="height:230px">
                <mdb-card-title>
                  <h4 [innerHTML]="post.title.rendered"></h4>
                </mdb-card-title>
                <mdb-card-text [innerHTML]="trim(post.excerpt.rendered)"></mdb-card-text>
                  <a routerLink = "{{post.slug}}" class="card-link">Read More...</a>
              </mdb-card-body>
            </mdb-card>
          </div>
        </div>
        <div class="spacer"></div>
    </div>
    <div style="height:50px"></div> 
  </div>

<div class="border-box"><app-contactform></app-contactform></div>
 
<div class="spacer"></div>
<hr class="hr1">
<div class="spacer"></div>
<app-map></app-map>