<h2 style="text-align: center;"><b>How To Reach Us</b></h2>
<div class="spacer"></div>
<div class="border-box">
  <div class="grid-container">
    <div class="row">

      <div class="column">
        <div class="grid-item-map">
          <iframe
            width="500"
            height="500"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBI6EJnkZnaB4El7hk_1ldPXmZcKZtyDCo&q=Deane+%26+Hinton,+P.A." allowfullscreen>
          </iframe>
        </div>
      </div>

      <div class="column">
        <div class="grid-item">
          <div class="spacer"></div>
          <div class="spacer"></div>
          <p>1597 62nd Avenue North
          <br />St. Petersburg, Florida 33702
          <br />United States of America</p>
            <p><mat-form-field color="accent">
              <mat-select placeholder="Hours" [(value)]="today">
                <mat-option *ngFor="let day of days" [value]="day.value">
                  {{day.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            </p>
          <p>info@deaneandhinton.com</p>
            
          <p>727-576-8811</p>

          <p style="margin: 20px">Extension 1- Zoe Holcomb, Legal Assistant
            <br />Extension 2- Zachary Deane, Legal Assistant
            <br />Extension 3- Charles Hinton, Attorney
            <br />Extension 4- Roland Hussong, Legal Assistant
          </p>
            <p>Or, contact us using the button below:</p>
          <app-contactform></app-contactform>
        </div>
      </div>
    </div>
    
  </div>
</div>
