<button type="button" mdbBtn color="secondary" class="relative waves-light" (click)="basicModal.show()" mdbWavesEffect>Contact Us</button>

<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true" style="overflow: auto">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

        <!-- Modal's header -->
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Contact Form</h4>
      </div>

      <!-- Modal's body -->
      <div class="modal-body">

        Call us at 727-576-8811, or you can fill out this form and we will contact you.
        <form class="example-form">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Legal First and Last Name</mat-label>
            <input matInput>
          </mat-form-field> 
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Preferred Name</mat-label>
            <input matInput>
          </mat-form-field> 
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Phone</mat-label>
            <input matInput placeholder="###-###-####">
          </mat-form-field> 
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput type="email">
          </mat-form-field> 
        </form>
        

        <p>How would you like to be contacted? If you select phone, we will call you, not text.</p>
        <mat-radio-group aria-label="Select an option">
          <mat-radio-button value="1">Email</mat-radio-button>
          <mat-radio-button value="2">Phone</mat-radio-button>
        </mat-radio-group>
        <p></p>

        <p>What kind of case do you have?</p>
        <mat-form-field>
          <mat-select placeholder="Case" [(value)]="selected">
            <mat-option value="0"> </mat-option>
            <mat-option value="1">I'm not sure</mat-option>
            <div *ngFor="let post of posts$ | async">
              <div *ngIf="post.tags == 2">
                <mat-option value={{post.title.rendered}}>{{post.title.rendered}}</mat-option>
              </div>
            </div>
            <mat-option value="2">Other</mat-option>
          </mat-select>

        </mat-form-field>
        <div *ngIf="selected == '2' || selected == '1'">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Please briefly describe your case.</mat-label>
            <textarea matInput placeholder="Ex."></textarea>
          </mat-form-field>
        </div>
      </div>

      <!-- Modal's footer -->
      <div class="modal-footer">
        <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Send</button>
      </div>

    </div>
  </div>
</div>